<section id="edit">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Thymer</a>
    </nav>
    <div id="meal-edit" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3>{{meal.name}}</h3>
                    </div>
                    <form id="meal" name="mealForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Meal name:</span>
                            </div>
                            <input type="text" class="form-control form-control-lg" ng-model="meal.name" required></input>
                        </div>
                        <form id="step" name="stepsForm">
                            <div class="btn-group btn-group-lg mt-3 mb-3">
                                <button type="button" class="btn btn-lg btn-dark" ng-click="addStep()">Add step</button>
                            </div>
                            <div id="meal-steps" class="mb-3">
                                <ul class="list-group" ng-repeat="step in meal.steps">
                                    <li class="list-group-item">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Step:</span>
                                            </div>
                                            <input type="text" class="form-control" ng-model="step.name" required>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-dark" ng-click="removeStep($index)"><i class="fa fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="input-group mr-auto">
                                                <input type="number" class="form-control" ng-model="step.hours">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">hours</span>
                                                </div>
                                            </div>
                                            <div class="input-group mr-auto">
                                                <input type="number" class="form-control" ng-model="step.minutes">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">minutes</span>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <input type="number" class="form-control" ng-model="step.seconds">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">seconds</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <div class="btn-toolbar float-right" role="toolbar">
                            <div class="btn-group-lg" role="group">
                                <button type="button" class="btn btn-lg btn-danger" ng-click="cancel()">Cancel</button>
                                <button type="button" class="btn btn-lg btn-success" ng-disabled="mealForm.$invalid || stepsForm.$invalid" ng-click="saveMeal()">Save Meal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>